*{
    padding: 0;
    margin: 0;
    background-color: black;
}
body{
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.HighlightedText{
    width: 75.5%;
    margin: 30px 30px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    background-color: rgb(129, 227, 225);
    color: rgb(10, 158, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
span{
    background-color: rgb(129, 227, 225);
    margin-top: -5px;
    font-weight: bold;
}
.hide{
    display: none;
}

.bt{
    width: 50px;
    height: 25px;
    background-color: #24a0ed;
    position: absolute;
    left: 40px;
    border-radius: 6px;
    margin-top: -23px;
    cursor: pointer;
}

.navbar{
    width: 100%;
    margin: 5px 10px 10px 10px;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}
#download{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 3vw;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfWbB640lxeD4tVh_FpmeWaHO094naSHz0bw&s);
    background-size: contain;
    padding: 5px;
    cursor: pointer;
}
#download:hover{
    transform: scale(1.5);
}
input,select{
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 2px;
}
input{
    padding-left: 5px;
    width: 225px;
}
select{
    margin-left: 5px;
}
#input,#select{
    display: inline-block;
}