/* .highlight {
  background-color: yellow;
} */
.active {
  /* border-bottom: 2px solid black; */
  text-decoration: underline solid black 0.1vw;
}
.main-sourav{
  height: 1.3vw;
  width: 7vw;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  background-color: #202122;
  /* gap: 1vw; */
  padding: 0.3vw 0;
  border-radius: 0.4vw;
  z-index: 9999;
}
.main2-sourav{
  height: 1.3vw;
  width: 12vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #202122;
  border-radius: 0.4vw;
  cursor: pointer;
  padding: 0.2vw 0;
  z-index: 9999;
}
.hover-option-button{
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: red;
}
.hover-option-button:hover{
  transform: scale(1.2);
} 
.hover-option-button-hover {
  height: 0.7vw;
  /* width: 2vw; */
  cursor: pointer;
  /* transition: transform 0.2s, box-shadow 0.2s; */
  /* object-fit: cover; */
  background-color: #f8f8f8;
}
.hover-option-button-hover:hover{
  transform: scale(1.2);
}
.hover-textarea-sourav{
  width: 200px;
  height: 100px;
  resize: both;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}