/* .highlight {
  background-color: yellow;
} */
.active {
  border: 2px dashed black;
}
.main{
  height: 15px;
  width: 7vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #202122;
  /* gap: 1vw; */
  padding: 0.3vw 0;
  border-radius: 0.4vw;
  cursor: pointer;
}
.main2{
  height: 1vw;
  width: 12vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #202122;
  border-radius: 0.4vw;
  cursor: pointer;
  padding: 0.2vw 0;
}
.hover-option-button{
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: red;
}
.hover-option-button:hover{
  transform: scale(1.2);
} 


.hover-option-button-hover:hover{
  transform: scale(1.2);
}

.hover-textarea {
  width: 200px;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


